<h1 class="text-center mt-3"> {{ titulo }} </h1>


<div class="container">


  <button class="btn btn-primary" (click)="clicar()"> {{textButton}} </button>
  <div class="row">
    <div class="col-4" *ngFor="let foto of exibir; index as i">

      <div class="card shadow mt-5" style="width: 18rem;">
        <img class="card-img-top" [src]="foto.img" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">{{ foto.titulo }} index: {{ i }}</h5>          
        </div>
      </div>
    </div>
  </div>

 


</div>